// Bootstrap brand color customization

/*     brand Colors              */

$primary:              #54BBAB !default;
$info:                 #575756 !default;
$success:              #497A65 !default;
$warning:              #BD5D1C !default;
$danger:               #4A6A82 !default;
$rose:                 #002A32 !default;
$inverse:              #EDD7EA !default;
